<footer class="footer">
    <div class="container">
        <div class="logo">
            <h3>Ganti Logo</h3>
        </div>
        <div class="explore">
            <h3>Pencari Kerja</h3>
             <ul>
                <li><a href="#">Explore</a></li>
                <li><a href="#">Lowongan</a></li>
            </ul>
        </div>
        </div>
        <div class="informasi">
            <h3>Tentang Kami</h3>
            <ul>
                <li><a href="#">Tentang Kami</a></li>
                <li><a href="#">Artikel</a></li>
                <li><a href="#">Report</a></li>
                <li><a href="#">Kontak</a></li>
            </ul>
        </div>
        <div class="kontak">
            <h3>Hubungi Kami</h3>
            <ul>
                <li><a href="#">Kontak</a></li>
                <li><a href="#">Report</a></li>
            </ul>
        </div>
        <div class="medsos">
            <h3>Following Us</h3>
            <ul>
                <li><a href="#">ganti logo facebook</a></li>
                <li><a href="#">ganti logo instagram</a></li>
                <li><a href="#">ganti logo youtube</a></li>
                <li><a href="#">ganti logo twitter</a></li>
                <li><a href="#">ganti logo whatsApp</a></li>   
            </ul>
        </div>
         <div class="copyriht">
            <p>Copyriht<span style="font-size: medium;"> ©  </span>2025 GreenGrowth</p>
        </div>
    </div>
</footer>